.alert {
  background-color: #bb5b4a;
  color: #ffffff;
  transition: all .5s;
  max-height: 1000px;
  overflow: hidden;
}
.alert__hide {
  opacity: 0;
  max-height: 0;
}
.alert__close {
  float: right;
  padding: 0px 5px 2px;
  line-height: 1em;
  border-radius: 3px;
  font-weight: 100;
  cursor: pointer;
}
.alert__close:hover {
  background-color: #fff;
  color: #bb5b4a;
}
.alert__content {
  padding: .5em 0;
}
.alert__content svg {
  margin-right: .5em;
}
.alert h2 {
  margin: 0;
  font-weight: normal;
}
.alert p {
  margin: 0;
}
.alert a {
  color: white;
  border-color: white;
  text-decoration: none;
}
.alert a:hover {
  text-decoration: underline;
}
