.article {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "p p p p p p p p p s s s";
  grid-column-gap: 1em;
}
.article--single {
  grid-template-areas: "p p p p p p p p p p p p";
}
@media only screen and (max-width: 768px) {
  .article {
    grid-template-areas: "s s s s s s s s s s s s" "p p p p p p p p p p p p";
  }
}
@media only screen and (max-width: 768px) {
  .article h3 {
    display: none;
  }
}
.article__primary {
  padding: 2em 1em;
  grid-area: p;
}
@media only screen and (max-width: 768px) {
  .article__primary {
    padding: 1em;
  }
}
@media only screen and (max-width: 425px) {
  .article__primary {
    padding: 1em 1em 1em 30px;
  }
}
.article__secondary {
  padding: 2em 0;
  grid-area: s;
}
@media only screen and (min-width: 769px) {
  .article__secondary {
    position: relative;
  }
  .article__secondary .side-nav-inner.fixed {
    position: fixed;
    top: 1em;
  }
}
@media only screen and (max-width: 768px) {
  .article__secondary {
    padding: 1em 1em 0;
  }
}
@media only screen and (max-width: 425px) {
  .article__secondary {
    padding: 0;
  }
}
