.article {
  display: grid;
  margin-top: 1em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "p p p p p p p p . s s s";
  grid-column-gap: 1em;
}
.article--single {
  grid-template-areas: "p p p p p p p p p p p p";
}
@media only screen and (max-width: 768px) {
  .article {
    margin-top: 0;
    grid-template-areas: "s s s s s s s s s s s s" "p p p p p p p p p p p p";
  }
}
@media only screen and (max-width: 768px) {
  .article h3 {
    display: none;
  }
}
.article__primary {
  padding: 0 0 2em 0;
  grid-area: p;
}
.article__secondary {
  grid-area: s;
}
@media only screen and (min-width: 769px) {
  .article__secondary .side-nav-inner {
    padding: 2em;
    position: fixed;
    width: 100%;
    top: 120px;
    height: calc(100vh - 120px);
    background-color: #f4f5f6;
    border-left: 1px solid #e6e9ea;
  }
}
@media only screen and (min-width: 769px) {
  .article__secondary {
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  .article__secondary {
    padding: 1em 0 0;
  }
}
@media only screen and (max-width: 425px) {
  .article__secondary {
    padding: 0;
  }
}
