.brand {
  display: flex;
  align-items: center;
  margin-right: 4em;
}
.brand__svg {
  width: 115px;
  height: 35px;
}
.brand__svg .slash {
  fill: #ffffff;
}
.brand__svg .tag {
  fill: #ffffff;
}
.brand__svg .letter {
  fill: #ffffff;
}
