.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  color: #27ae60;
  border: 1px solid #27ae60;
  transition: all .1s;
}
.btn:hover {
  background-color: #2cc36b;
  color: #ffffff;
}
.btn i {
  margin-left: .5em;
}
.btn--primary {
  color: #ffffff;
  background-color: #27ae60;
}
.btn--primary:hover {
  background-color: #36d278;
}
