.header-nav {
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .header-nav {
    align-self: stretch;
    background-color: #ff8910;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    overflow: hidden;
    max-height: 0;
    transition: all .2s linear;
  }
}
.header-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .header-nav__list {
    flex-direction: column;
  }
}
.header-nav__item:hover {
  background-color: #ffae5c;
}
@media only screen and (min-width: 769px) {
  .header-nav__item:hover .header-nav__dropdown {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .header-nav__item:not(:last-of-type) {
    border-bottom: 1px solid #f57c00;
  }
}
.header-nav__link {
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
}
@media only screen and (min-width: 769px) {
  .header-nav__dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #ffae5c;
    border: 1px solid #f57c00;
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5);
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header-nav__dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ffae5c;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3) inset, 0 -5px 3px -3px rgba(0, 0, 0, 0.1) inset;
  }
}
@media only screen and (min-width: 769px) {
  .header-nav__drop-item {
    border-bottom: 2px solid #f57c00;
    min-width: 170px;
  }
}
.header-nav__drop-item a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: .5em;
}
.header-nav__drop-item a:hover {
  background-color: #fff;
  color: #f57c00;
}
@media only screen and (max-width: 768px) {
  .header-nav__drop-item {
    border-bottom: none;
  }
  .header-nav__drop-item a {
    padding: .5em 1em;
  }
}
@media only screen and (max-width: 768px) {
  .header-nav__icon {
    display: none;
  }
}
.homepage .header-nav__item--home {
  display: none;
}
