@media only screen and (max-width: 768px) {
  .header-nav {
    align-self: stretch;
    background-color: #d14233;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    overflow: hidden;
    max-height: 0;
    transition: all .2s linear;
  }
}
.header-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
@media only screen and (min-width: 424px) {
  .header-nav__list {
    height: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .header-nav__list {
    flex-direction: column;
  }
}
@media only screen and (min-width: 424px) {
  .header-nav__item {
    display: flex;
    align-items: center;
  }
}
.header-nav__item:hover,
.header-nav__item.active {
  background-color: #363b47;
  position: relative;
}
.header-nav__item:hover::after,
.header-nav__item.active::after {
  background-color: #d65548;
  width: 100%;
  height: 2px;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 769px) {
  .header-nav__item:hover .header-nav__dropdown,
  .header-nav__item.active .header-nav__dropdown {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .header-nav__item:not(:last-of-type) {
    border-bottom: 1px solid #c0392b;
  }
}
@media only screen and (min-width: 424px) {
  .header-nav__item:hover .header-nav__subNav {
    display: block;
  }
}
.header-nav__link {
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
  font-weight: 100;
}
@media only screen and (min-width: 769px) {
  .header-nav__dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #df7c72;
    border: 1px solid #c0392b;
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5);
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header-nav__dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #df7c72;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3) inset, 0 -5px 3px -3px rgba(0, 0, 0, 0.1) inset;
  }
}
@media only screen and (min-width: 769px) {
  .header-nav__drop-item {
    border-bottom: 2px solid #c0392b;
    min-width: 170px;
  }
}
.header-nav__drop-item a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: .5em;
}
.header-nav__drop-item a:hover {
  background-color: #fff;
  color: #c0392b;
}
@media only screen and (max-width: 768px) {
  .header-nav__drop-item {
    border-bottom: none;
  }
  .header-nav__drop-item a {
    padding: .5em 1em;
  }
}
@media only screen and (max-width: 768px) {
  .header-nav__icon {
    display: none;
  }
}
.header-nav__subNav {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f4f5f6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 424px) {
  .header-nav__subNav {
    position: absolute;
    display: none;
    top: 60px;
  }
}
@media only screen and (max-width: 425px) {
  .header-nav__subNav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.header-nav__subNav li {
  padding: .5em 1em;
}
@media only screen and (min-width: 424px) {
  .header-nav__subNav li:not(:last-of-type) {
    border-bottom: 1px solid #20232a;
  }
}
.header-nav__subNav li:hover {
  background-color: #df7c72;
}
.header-nav__subNav li:hover a {
  color: #ffffff;
}
.header-nav__subNav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  text-decoration: none;
}
.header-nav__subNav .date {
  white-space: nowrap;
  font-size: .7em;
  margin-left: 1em;
  color: #20232a;
}
@media only screen and (max-width: 425px) {
  .header-nav__subNav .date {
    display: none;
  }
}
.homepage .header-nav__item--home {
  display: none;
}
