.lesson {
  padding: 1em;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}
.lesson__title {
  margin: 0;
  line-height: 1em;
}
@media only screen and (max-width: 768px) {
  .lesson__title {
    font-size: 1.3em;
  }
}
.lesson__link {
  text-decoration: none;
  color: #c0392b;
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
}
.lesson__link:hover {
  text-decoration: underline;
}
.lesson__date {
  color: #c0392b;
}
.lesson__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.lesson__content p:first-of-type {
  flex: 1;
}
.lesson__content p:last-of-type {
  margin: 0;
}
.lesson__content p:empty {
  display: none;
}
.lesson__content > div {
  margin: .5em 0;
}
.lesson__button {
  width: 100%;
  box-sizing: border-box;
}
