.article__primary h1 a,
.article__primary h2 a,
.article__primary h3 a,
.article__primary h4 a,
.article__primary h5 a,
.article__primary h6 a {
  color: #c0392b;
  text-decoration: none;
}
.article__primary h1 a:hover,
.article__primary h2 a:hover,
.article__primary h3 a:hover,
.article__primary h4 a:hover,
.article__primary h5 a:hover,
.article__primary h6 a:hover {
  text-decoration: underline;
}
.article__primary img {
  max-width: 100%;
}
.article__primary hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e6e9ea;
}
.article__primary h1 {
  font-size: 4em;
  margin: 0 0 1rem;
  font-weight: 300;
  background-image: linear-gradient(45deg, #c0392b 10%, #20232a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media only screen and (max-width: 768px) {
  .article__primary h1 {
    font-size: 3em;
    margin: 0;
  }
}
.article__primary h2 {
  color: #d65548;
  font-size: 1.8em;
  line-height: 1.8;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .article__primary h2 {
    font-size: 1.5em;
    margin: 0;
  }
}
.article__primary h3 {
  font-size: 1.5em;
  font-weight: 600;
}
.article__primary h4 {
  font-weight: 500;
  font-size: 1.4em;
}
.article__primary p {
  line-height: 1.8;
  margin: 0 0 10px;
}
.article__primary .more {
  display: none;
}
.article__primary p:first-of-type:not(h2 + p) {
  display: none;
}
.article__primary ul,
.article__primary ol {
  padding-left: 20px;
}
.article__primary pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.article__primary table {
  border-collapse: collapse;
  border: 1px solid #d9dcde;
}
.article__primary table th,
.article__primary table td {
  border-bottom: 1px solid #d9dcde;
  text-align: left;
  padding: .5em 1em;
}
.article__primary table th {
  border-bottom-width: 2px;
  color: #c0392b;
}
