body {
  font: 16px arial;
  background-color: #c0c0c0;
}

.wrapper {
  padding: 1em;
  background-color: #ffffff;
}

h1 {
  margin: 0;
}

p > code {
  background-color: #1e1f21;
  font-family: monospace;
  line-height: 1.4em;
  color: #d8d8d8;
  padding: 2px 5px;
  border-radius: .3em;
  font-size: .8em;
}

pre {
  background-color: #1e1f21;
  font-family: monospace;
  line-height: 1.4em;
  color: #d8d8d8;
  padding: 1em;
  border-radius: .3em;
  overflow-y: scroll;
}

img {
  width: 100%;
}
